<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>御請求書</title>
  <style>
    <%- include( '_pdf.css' ); %>
  </style>

</head>
<body>
  <div class="container">
    <div class="header">
      <div class="title">御 請 求 書</div>
      <div class="top-right">
        <div class="date">ID: <%= String(project.id).padStart(3, '0'); %></div>
        <div class="date">発行日: <%= formatDate(project.invoice_date) %></div>
      </div>
    </div>
    <div class="client-info">
      <div class="client-name"><%= project.client_name %> <%= project.sama == 0 ? '様' : '御中' %></div>
      <p>平素は格別のお引き立てを賜り厚く御礼申し上げます。<br/>
      下記の通りご請求申し上げます。</p>
      <div>案件名: <%= project.project_name %></div>
      <div class="nowrap">御請求金額 合計: <span class="price">¥<%= project.total_amount_with_tax.toLocaleString() %>-</span>(税込)</div>
    </div>
    <%- include( '_company.ejs' ); %>
    <table>
      <thead>
        <tr>
          <th class="name"><%= labels.item_name %></th>
          <th class="nowrap"><%= labels.unit_price %></th>
          <th class="nowrap"><%= labels.quantity %></th>
          <th class="nowrap">合計</th>
        </tr>
      </thead>
      <tbody>
        <% let has_sosumi_1 = false %>
        <% items.forEach(item => { %>
          <% (item.taxed == 0) ? has_sosumi_1 = true : null %>
          <tr>
            <td><%= item.item_name %> <%- item.taxed == 0 ? '<span class="sosumi">※1</span>': '' %></td>
            <td class="nowrap">¥ <%= (item.unit_price* item.hours).toLocaleString() %>-</td>
            <td class="nowrap"><%= item.quantity %></td>
            <td class="nowrap">¥ <%= (item.unit_price * item.hours * item.quantity).toLocaleString() %>-</td>
          </tr>
        <% }); %>
        <%
          const subtotal = items.reduce((sum, item) => sum + (item.unit_price * item.hours * item.quantity), 0)
          let subtotal_tax = Math.round(subtotal * 0.1)
        %>
        <tr class="total-row">
          <td colspan="3"><%= labels.sub_total_amount %></td>
          <td>¥ <%= subtotal.toLocaleString() %>-</td>
        </tr>
        <tr class="total-row">
          <td colspan="3"><%= labels.tax %></td>
          <td>¥ <%= subtotal_tax.toLocaleString() %>-</td>
        </tr>
        <tr class="total-row">
          <td colspan="3">請求合計金額</td>
          <td class="nowrap">¥ <%= (subtotal + subtotal_tax).toLocaleString() %>-</td>
        </tr>
      </tbody>
    </table>
    <div class="note">
      備考:<br/>
      <%= project.notes %>
      <%- has_sosumi_1 ? '<br/><br/>※1 : この項目は消費税の計算に含まれません。' : ''  %>
    </div>
    <%- include( '_account.ejs' ); %>
  </div>
</body>
</html>
