<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= labels.edit_project %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/edit.css">
    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    const socket = io();

    window.addEventListener('beforeunload', () => {
      socket.disconnect();
    });
  </script>

</head>
<body>
  <div class="container  mt-4">
    <header class="mb-4">
      <h1><%= labels.edit_project %></h1>
    </header>
    
    <form method="POST" action="/edit/<%= project.id %>">
      
      <%- include( 'edit_form.ejs' ); %>
      
    </form>
    <form method="POST" class="text-center  m-2" action="/delete/<%= project.id %>" onsubmit="return confirm('Are you sure you want to delete this project?');">
      <button type="submit" class="btn btn-danger"><%= labels.delete %></button>
    </form>
    <div class="text-center m-2">
      <a href="/" class="btn btn-secondary"><%= labels.back_to_top %></a>
    </div>
  </div>

  <%- include( 'edit_scripts.ejs' ); %>
  <script>
    

    // itemsを取得

    <% items.forEach(item => { %>
      addItem(<%- JSON.stringify(item) %>);
    <% }); %>

  </script>

  
</body>
</html>



