<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  >
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <style>
    header .summary { font-size: 1.2em; display:flex; }
    header .summary div { margin-left: 1em; }
    .container { max-width: 100%; }
    table th { font-size: 12px; white-space: nowrap; } 
    table td { vertical-align: middle !important; }
    .billed { background-color: #cafcff; }
    .deposited { background-color: #cae3ff; }
    .nowrap { white-space: nowrap; }
  </style>
  <script>
    const socket = io();

    window.addEventListener('beforeunload', () => {
      socket.disconnect();
    });
  </script>
</head>
<body>
  <div class="container mt-4">
    <header class="d-flex flex-row justify-content-between mb-4">
      <h1 class="nowrap"><%= labels.projects %></h1>
      <div class="summary">
        <div>全合計 (税込): ¥<%= prices.grand_total.toLocaleString() %>-</div>
        <div>請求済み合計 (税込): ¥<%= prices.grand_total_invoiced.toLocaleString() %>-</div>
        <div>入金済み合計 (税込): ¥<%= prices.grand_total_completed.toLocaleString() %>-</div>
      </div>
    </header>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= labels.id %></td>
          <th><%= labels.client_name %></td>
          <th><%= labels.project_name %></th>
          <th><%= labels.estimate_date %></th>
          <th><%= labels.invoice_date %></th>
          <th><%= labels.is_completed %></th>
          <th><%= labels.is_canceled %></th>
          <th><%= labels.total_amount_with_tax %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% projects.forEach(project => { %>
          <tr>
            <td><%= project.id %></td>
            <td><%= project.client_name %></td>
            <td><%= project.project_name %></td>
            <td><%= formatDate(project.estimate_date) %></td>
            <td class="<%= project.invoice_date ? 'billed':'' %>"><%= project.invoice_date ? formatDate(project.invoice_date) : '未請求' %></td>
            <td class="text-center <%= project.is_completed ? 'deposited' : '' %>"><%= project.is_completed ? '済' : '' %></td>
            <td class="text-center"><%= project.is_canceled ? 'キャンセル' : '' %></td>
            <td>¥<%= project.total_amount_with_tax.toLocaleString() %>-</td>
            <td class="nowrap">
              <a href="/edit/<%= project.id %>" class="btn btn-outline-primary"><%= labels.edit %></a>
              <a href="/clone/<%= project.id %>" class="btn btn-secondary"><%= labels.clone %></a>
              <button type="button" class="btn btn-primary" onclick="window.open('/estimate-pdf/<%= project.id %>')" <%= project.estimate_date ? '' : 'disabled' %>><%= labels.estimate %></button>
              <button type="button" class="btn btn-primary" onclick="window.open('/invoice-pdf/<%= project.id %>')" <%= project.invoice_date ? '' : 'disabled' %>><%= labels.invoice %></button>
            </td>
          </tr>
        <% }); %>
        
        
      </tbody>
    </table>
    <a href="/new" class="btn btn-secondary"><%= labels.create_new %></a>
    <button id="csvExportBtn" class="btn btn-primary">CSV出力</button>

  </div>
  <script>
    document.getElementById('csvExportBtn').addEventListener('click', function() {
        // CSV出力のリクエストをサーバーに送信
        fetch('/export-csv', {
            method: 'GET'
        })
        .then(response => response.blob())
        .then(blob => {
            // ダウンロード用のURLを生成してダウンロードを実行
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'export.csv';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('CSV出力に失敗しました:', error));
    });
  </script>
</body>
</html>
